extends layout

block content
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1 #{title} ☃
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                p.
                    Want to have a secret santa, but some of the participants can't be present for the name drawing?
                    Enter everyone's names and emails below and the server will randomize the pairings and send them an
                    email with the identify of their giftee!
                p (I don't store any email addresses.  Promise.)
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                script(type='text/javascript') var RecaptchaOptions = { theme : 'clean', lang  : 'en' };
                form(action='/santa', method='post', role='form', class='form-horizontal')
                    .form-group
                        label(for='name1', class='control-label col-sm-1') Name
                        .col-sm-11
                            input(id='name1',name='name1', type='text', class='form-control', placeholder='Name')
                        label(for='email1', class='control-label col-sm-1') E-mail
                        .col-sm-11
                            input(id='email1', name='email1', type='text',class='form-control', placeholder='E-mail Address')

                    button(type='button', class='btn btn-default btn-block add-button') Add Another Person

                    p Finally, prove you're not a Christmas-ruining robot
                    != recaptcha_form
                    //script(src='https://www.google.com/recaptcha/api/challenge?k=6LeiEv0SAAAAAFK38eNCP37fg5fFY6rEXGQgHe0L')
                    button(type='submit', class='btn btn-primary') MERRY CHRISTMAS

block scripts
    script(type='text/javascript', src='javascripts/secretsanta.js')