extends layout

block content
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1 #{title} ☃
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                p.
                    Want to have a secret santa, but some of the participants can't be present for the name drawing?
                    Enter everyone's names and emails below and the server will randomize the pairings and send them an
                    email with the identify of their giftee!
                p (I don't store any email addresses.  Promise.)
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                script(type='text/javascript') var RecaptchaOptions = { theme : 'clean', lang  : 'en' };
                form(action='/santa', method='post', role='form', class='form-horizontal santa-form', data-parsley-validate)
                    .row.form-group
                        label(for='name1', class='control-label col-sm-2') Your Name
                        .col-sm-10
                            .input-group
                                input(type='hidden', name='exclude1', id='exclude1')
                                input(id='name1',name='name1', type='text', class='form-control', placeholder='Name', required)
                                span(class='input-group-btn')
                                    button(class='btn btn-default exclude-button', type='button') Excludes...
                        label(for='email1', class='control-label col-sm-2') Your E-Mail
                        .col-sm-10
                            input(id='email1', name='email1', type='email',class='form-control', placeholder='E-mail Address', required)
                    .row.form-group
                        label(for='name2', class='control-label col-sm-2') Name
                        .col-sm-10
                            .input-group
                                input(type='hidden', name='exclude2', id='exclude2')
                                input(id='name2',name='name2', type='text', class='form-control', placeholder='Name', required)
                                span(class='input-group-btn')
                                    button(class='btn btn-default exclude-button', type='button') Excludes...
                        label(for='email2', class='control-label col-sm-2') E-mail
                        .col-sm-10
                            input(id='email2', name='email2', type='email',class='form-control', placeholder='E-mail Address', required)
                    button(type='button', class='btn btn-default btn-block add-button') Add Another Person
                    p(class='captcha') Finally, prove you're not a Christmas-ruining robot
                        != recaptcha_form
                    button(type='submit', class='btn btn-primary submit-button') MERRY CHRISTMAS
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button(type='button', class='close', data-dismiss='modal')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    h4.modal-title Choose whom to exclude for this user...
                .modal-body
                    ul.list-group

                .modal-footer
                    button(type='button', class='btn btn-default' data-dismiss='modal') Close
                    button(type='button', class='btn btn-primary') Save Exclusions

block scripts
    script(type='text/javascript', src='javascripts/parsley.min.js')
    script(type='text/javascript', src='javascripts/secretsanta.js')
